{% extends 'base.html' %}

{% block title %}Editar Item de Cobertura{% endblock %}
{% block page_title %}Editar Item de Cobertura{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'coverages:coverage_list' %}">Coberturas</a></li>
<li class="breadcrumb-item">Editar Item</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card stretch stretch-full">
            <div class="card-header">
                <h5 class="card-title">Editar Item de Cobertura</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label">Nome <span class="text-danger">*</span></label>
                            {{ form.name }}
                            {% if form.name.errors %}
                            <div class="fs-11 text-danger mt-1">{{ form.name.errors.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Descrição</label>
                            {{ form.description }}
                        </div>
                        <div class="col-12">
                            <div class="form-check form-switch">
                                {{ form.is_active }}
                                <label class="form-check-label" for="id_is_active">Ativo</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 d-flex gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="feather-save me-2"></i>Salvar
                        </button>
                        <a href="javascript:history.back()" class="btn btn-light">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
